<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="html/mainfragment :: head"></head>
    <script type="text/javascript" th:src="@{/js/monitor/monitor.js}"></script>
</head>
<body>
<nav th:replace="html/mainfragment :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav th:replace="html/mainfragment :: letf_nav"></nav>
        </div>

        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/api/home">home</a></li>
                <li class="breadcrumb-item "><a>monitor</a></li>
                <li class="breadcrumb-item active"><a>manager</a></li>
            </ol>


            <!-- Table -->
            <table class="table table-hover table-bordered table-condensed ">
                <thead class="thead-light">
                <tr>
                    <th>环境</th>
                    <th>地址</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="dev_env" th:text="dev"></td>
                    <td>
                        <a id="dev_host" href="http://wiki.okjiaoyu.cn/pages/viewpage.action?pageId=2326724"
                           target="_blank">http://wiki.okjiaoyu.cn/pages/viewpage.action?pageId=2326724</a>
                    </td>
                </tr>

                <tr>
                    <td id="hotfix_env" th:text="hotfix"></td>

                    <td>
                        <a id="hotfix_host" href="http://wiki.okjiaoyu.cn/pages/viewpage.action?pageId=2326724"
                           target="_blank">http://wiki.okjiaoyu.cn/pages/viewpage.action?pageId=2326724</a>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>


</body>


</html>