<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="html/mainfragment :: head"></head>
    <script type="text/javascript" th:src="@{/js/middle/middle.js}"></script>
    <script type="text/javascript" th:src="@{/js/middle/middleInterface.js}"></script>
</head>
<body>
<nav th:replace="html/mainfragment :: navbar_search('请输入接口名或URL')"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav th:replace="html/mainfragment :: letf_nav"></nav>
        </div>

        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/api/home">home</a></li>
                <li class="breadcrumb-item "><a>middle</a></li>
                <li class="breadcrumb-item active"><a>interface</a></li>
            </ol>

            <div class="row">
                <!-- 按钮触发模态框 -->

                <div th:replace="html/mainfragment :: switchProject(${middleProjectList})"></div>

                <div th:replace="html/mainfragment :: switchModelMiddle(${middleModuleList})"></div>
                &nbsp&nbsp&nbsp&nbsp
                <div>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary "
                       onclick="showAddInterface()">添加接口</a>
                </div>
            </div>

            <!-- Table -->
            <table class="table table-hover table-bordered table-condensed ">
                <thead class="thead-light">
                <tr>
                    <th>接口ID</th>
                    <th>接口名称</th>
                    <th>接口地址</th>
                    <th>请求方法</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr id="middleList" th:each="middleInterface: ${middleInterfaceList.getList()}">
                    <td th:text="${middleInterface.id}"></td>
                    <td th:text="${middleInterface.name}"></td>
                    <td th:text="${middleInterface.url}"></td>
                    <td th:text="${middleInterface.request_method}"></td>
                    <td th:text="${middleInterface.comments}"></td>
                    <td>
                        <a href="javascript:void(0)"
                           th:data-id="${middleInterface.id}"
                           th:data-module_id="${middleInterface.module_id}"
                           th:data-name="${middleInterface.name}"
                           th:data-url="${middleInterface.url}"
                           th:data-request_method="${middleInterface.request_method}"
                           th:data-comments="${middleInterface.comments}"
                           th:data-project_id="${middleInterface.project_id}"
                           class="btn  btn-sm btn-info "
                           onclick="showUpdateModule(this)">修改</a>

                        <a href="javascript:void(0)" th:data-id="${middleInterface.id}" class="btn btn-sm btn-danger"
                           onclick="showDeleteModal(this)">删除</a>
                    </td>
                </tr>

                </tbody>
            </table>


            <nav th:id="switchPageModel"
                 th:replace="html/mainfragment :: switchPageInfo(${middleInterfaceList})">
            </nav>


        </div>


    </div>
</div>


<!--删除确认的模态框-->
<div th:replace="html/mainfragment :: deleteModal">
</div>


<!--添加接口模态框（Modal）-->
<div th:fragment="addModal" class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="myModalLabel">
                    添加接口
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr class="th-inner">
                        <td class="text-right">所属项目:</td>
                        <td>
                            <select style="height:35px;width:400px" class="form-control " id="addProjectName"
                                    onchange="switchAddModule()"
                                    name="addProjectName">
                                <option th:each="list:${middleProjectList}" th:value="${list.id}"
                                        th:text="${list.name }"></option>
                            </select>
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">所属模块:</td>
                        <td>
                            <select style="height:35px;width:400px" class="form-control " id="addModuleName"
                                    name="addModuleName">
                            </select>
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">接口名称:</td>
                        <td><input  class="form-control" id="addInterfaceName" type="text" name="addInterfaceName"
                                   style="height:35px;width:300px"
                                   placeholder=""></td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">接口地址:</td>
                        <td>
                            <input class="form-control" id="addInterfaceUrl" type="text" name="addInterfaceUrl"
                                   style="height:35px;width:300px"
                                   placeholder="">
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">请求方法:</td>
                        <td>
                            <select style="height:35px;width:400px" class="form-control" id="addInterfaceRequestMethod">
                                <option><strong>Post-Json</strong></option>
                                <option><strong>Post-Form</strong></option>
                                <option><strong>Post-Text</strong></option>
                                <option><strong>Post-Html</strong></option>
                                <option><strong>Post-Xml</strong></option>
                                <option><strong>Post-Binary</strong></option>
                                <option><strong>Get</strong></option>
                            </select>
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">备注:</td>
                        <td><input class="form-control" id="addComments" type="text" name="addComments"
                                   style="height:35px;width:300px"
                                   placeholder=""></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="addModelID" class="btn btn-sm btn-primary" onclick="addInterface()">提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--修改模块模态框-->
<div th:fragment="updateModal" class="modal fade" id="updateModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">修改接口</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr class="th-inner">
                        <td class="text-right">所属项目:</td>
                        <td>
                            <select style="height:35px;width:400px" class="form-control " id="updateProjectName"
                                    onchange="switchUpdateModuleName()"
                                    name="updateProjectName">
                                <option th:each="list:${middleProjectList}" th:value="${list.id}"
                                        th:text="${list.name }"></option>
                            </select>
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">所属模块:</td>
                        <td>
                            <select style="height:35px;width:400px" class="form-control " id="updateModuleName"
                                    name="updateModuleName">
                            </select>
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">请求方法:</td>
                        <td>
                            <select style="height:35px;width:400px" class="form-control"
                                    id="updateInterfaceRequestMethod">
                                <option><strong>Post-Json</strong></option>
                                <option><strong>Post-Form</strong></option>
                                <option><strong>Post-Text</strong></option>
                                <option><strong>Post-Html</strong></option>
                                <option><strong>Post-Xml</strong></option>
                                <option><strong>Post-Binary</strong></option>
                                <option><strong>Get</strong></option>
                            </select>
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">接口名称:</td>
                        <td>
                            <input class="form-control" id="updateInterfaceName" type="text" name="updateInterfaceName"
                                   style="height:35px;width:300px"
                                   placeholder="">
                        </td>
                    </tr>
                    <tr class="th-inner">
                        <td class="text-right">接口地址:</td>
                        <td>
                            <input class="form-control" id="updateInterfaceUrl" type="text" name="updateInterfaceUrl"
                                   style="height:35px;width:300px"
                                   placeholder="">
                        </td>
                    </tr>

                    <tr class="th-inner">
                        <td class="text-right">备注:</td>
                        <td>
                            <input class="form-control" id="updateComments" type="text" name="updateComments"
                                   style="height:35px;width:300px"
                                   placeholder="">
                        </td>
                    </tr>
                    <tr class="th-inner" style="display:none">
                        <td class="text-right">模块ID:</td>
                        <td>
                            <input class="form-control" id="updateID" type="text" name="updateID"
                                   style="height:35px;width:300px" readonly="readonly">
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="updateInterfaceModel()">提交
                </button>


            </div>
        </div>
    </div>
</div>

<script>
    $("input").css("background", "rgba(255,255,255,0.1)");
    $("input").css("height", "35px");
    $("input").css("width", "400");
    $("input").css("overflow", "auto");
</script>

</body>


</html>