<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="html/mainfragment :: head"></head>
    <script type="text/javascript" th:src="@{/js/autoui/romRunCase.js}"></script>
    <script type="text/javascript" th:src="@{/js/autoui/autoUi.js}"></script>
    <script type="text/javascript" th:src="@{/js/autoui/checkBox.js}"></script>
</head>
<body>
<nav th:replace="html/mainfragment :: navbar_search('请输入用例名称')"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav th:replace="html/mainfragment :: letf_nav"></nav>
        </div>

        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/api/home">home</a></li>
                <li class="breadcrumb-item "><a>ui</a></li>
                <li class="breadcrumb-item "><a>rom</a></li>
                <li class="breadcrumb-item active"><a>run</a></li>
            </ol>
            <div class="row" align="center">
                &nbsp&nbsp&nbsp&nbsp
                <button type="button" class="btn btn-sm btn-info" onclick="checkAll()">全选</button>
                &nbsp&nbsp
                <button type="button" class="btn  btn-sm btn-info" onclick="checkNo()">取消全选</button>
                &nbsp&nbsp&nbsp&nbsp
                <button type="button" class="btn  btn-sm btn-info" onclick="runMoreCase()">运行多条</button>
            </div>
            <!-- Table -->
            <table class="table table-hover table-bordered table-condensed ">
                <thead class="thead-light">
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>ID</th>
                    <th>用例名称</th>
                    <th>文件名称</th>
                    <th>用例详情</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr th:each="case: ${padAutoCaseList.list}">
                    <td><input type="checkbox" name="imgVo" th:value="${case.caseName}"></td>
                    <td th:text="${case.id}"></td>
                    <td th:text="${case.caseContent}"></td>
                    <td th:text="${case.caseName}"></td>
                    <td th:text="${case.caseDesc}"></td>
                    <td>
                        <a href="javascript:void(0)"
                           th:data-name="${case.caseName}"
                           class="btn btn-sm btn-info"
                           onclick="runCaseModal(this)">运行</a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:id="switchPageModel"
                 th:replace="html/mainfragment :: switchPageInfo(${padAutoCaseList})">
            </nav>
        </div>


    </div>
</div>


<!--运行用例结果的模态框-->
<div class="modal fade" id="runCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">运行结果</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="float:left;width:80%;">
                <textarea style="width:80%;" type="text" rows="6" th:width="5" th:text="运行中..." readonly="readonly"
                          id="respose"></textarea>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-sm btn-primary" data-dismiss="modal">关闭</a>

            </div>
        </div>
    </div>
</div>


</body>


</html>